/**/
/* Page-wide properties */
/**/
:root {
    --main-accent: #BE830E;
}


p, h1, h2, h3, h4, button, label {
    text-align: center;
    font-family: sans-serif;
    margin: 0.5em;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

label:hover .tooltiptext {
    visibility: visible;
}

button:active {
    background-color: var(--main-accent);
    border-radius: 5px;
}

ol {
    font-family: sans-serif;
}

li {
    margin-top: 0.5em;
}

.box {
    padding: 1%;
    margin: 1%;
    border: 2px solid;
    border-color: var(--main-accent);
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
}

.rgb-bar {
    width: 90%;
    height: 12px;
    padding-bottom: 5px;
}

.rgb-amount {
    width: 50%;
    height: 100%;
}

footer {
    font-size: small;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/**/
/* Layout */
/**/

#page-contents {
    display: flex;
}

/* Left column */

#focus-image {
    max-width: 45%;
    max-height: 60%;
}

#img-box {
    max-width: 100%;
    height: 70vh;
    position: relative;
    overflow: auto;
}

#picker-image {
    padding: 0;
    margin: 0;
}

#picture-frame {
    height: auto;
    width: auto;
    padding: 0;
    margin: 0;
    transform-origin: top left;
}

.image-options{
    display: flex;
    justify-content: center;
    border: 0;
    padding: 0;
    margin: 0;
}

.zoom-options {
    display: flex;
    justify-content: center;
    border: 0;
    padding: 0;
    margin: 0;
}

input[name="zoom"] {
    padding: 0;
    margin: 0;
}

.zoom-labels {
    padding: 0;
    margin-left: 1em;
    margin-right: 0.2em;
}

/* Middle column */

#info {
    width: 15%;
    height: 100%;
}

#colour-info {
    height: 50%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mag-glass {
    width: 100%;
    aspect-ratio: 1/1;
    display: grid;
}

.mag-pixel {
    border: 1px lightgray solid;
}

#mag-res {
    color: var(--main-accent);
    outline: none;
}

/* Second From Right column */

#image-upload {
    width: fit-content;
    max-width: 20%;
}

/* Furthest Right Column */

#pixel-stats {
    width: 15%;
}

#pixel-list {
    max-height: 60vh;
    overflow-y: scroll;
}

.colour-square {
    width: 20px;
    height: 20px;
}

/* Crosshair */

.crosshair-line {
    position: absolute;
    background-color: black;
    pointer-events: none; /* Prevents the lines from interfering with mouse events */
    z-index: 10; /* Ensure the lines are on top of the image */
}

#horizontal-line {
    height: 1px;
    width: 100%;
}

#vertical-line {
    width: 1px;
    height: 100%;
    top: 0; /* Ensure the vertical line starts from the top */
}

/**/
/* Initial setup - changed programmatically*/
/**/

#camera-preview {
    display: none; 
    max-width: 100%;
}

#camera-close-button {
    display: none;
}

/* Debug class - changed programatically to "display: none" on page load */
.debug {

}
