:root {
  --main-accent: #BE830E;
  --bs-border-color:var(--main-accent);
}

html {
  background-color: #555;
}

.crosshair-line {
  position: absolute;
  background-color: black;
  pointer-events: none;
  z-index: 10;
}

#horizontal-line {
  height: 1px;
  width: 100%;
}

#vertical-line {
  width: 1px;
  height: 100%;
  top: 0px;
}

#image-fence {
  max-height: 80vh;
  max-width: 50vw;
}

.rgb-bar {
  width: 100%;
  height: 12px;
  background-color: #e9ecef;
}

.rgb-amount {
  height: 100%;
}

#mag-glass {
  aspect-ratio: 1/1;
  display: grid;
}

.mag-pixel {
  border: 1px solid lightgray;
}

#camera-preview {
  display: none;
}

.debug {
    /* This is filled programatically */
}

#arrowpad {
  display: none;
}

.border {
    border-color: var(--main-accent);
}
