/**/
/* Page-wide properties */
/**/
:root {
    --main-accent: #BE830E;
}


p, h1, h2, h3, h4, button {
    text-align: center;
    font-family: sans-serif;
    margin: 0.5em;
}

.box {
    padding: 1%;
    margin: 1%;
    border: 2px solid;
    border-color: var(--main-accent);
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
}

.rgb-bar {
    width: 90%;
    height: 12px;
    padding-bottom: 5px;
}

.rgb-amount {
    width: 50%;
    height: 100%;
}

footer {
    font-size: small;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/**/
/* Layout */
/**/

#page-contents {
    display: flex;
}

/* Left column */

#focus-image {
    max-width: 40%;
    max-height: 60%;
}

#img-box {
    width: 100%
}

#picker-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Middle column */

#info {
    width: 15%;
    height: 100%;
}

#color-info {
    height: 50%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mag-glass {
    width: 100%;
    aspect-ratio: 1/1;
    display: grid;
}

.mag-pixel {
    border: 1px lightgray solid;
}

#mag-res {
    color: var(--main-accent);
    outline: none;
}

/* Right column */

#image-upload {
    width: fit-content;
}

/**/
/* Initial setup - changed programmatically*/
/**/

#camera-preview {
    display: none; 
}

#camera-close-button {
    display: none;
}
